.menu
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.container-fluid
     a.navbar-brand(href="/") Navbar
     button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
     div.collapse.navbar-collapse#navbarNavAltMarkup
      div.navbar-nav
       a.nav-link(active aria-current="page" href="/") Home
       a.nav-link(aria-current="page" href="/registration") Register
       a.nav-link(aria-current="page" href="/login") Log in
       a.nav-link(aria-current="page" href="/addstaff") Add User
       a.nav-link(aria-current="page" href="/logout") Logout
    </div>
    </div>
    </div>
    </nav>
