extends layout
block content
    .col-md-4.col-md-offset-4
        h2 Add User
        div
            form(action="/adduser", method="POST")
                p
                    input.form-control(name="first_name", type="text", placeholder="Staff name")
                p
                    input.form-control(name="last_name", type="text", placeholder="Staff surname")
                p
                    input.form-control(name="birth_date", type="date", placeholder="Staff birthdate")
                p
                    input.form-control(name="salary", type="number", placeholder="Staff salary")
                p
                    select.form-select.form-select.mb-2(aria-label=".form-select-lg" name="position")
                     option(value="Junior Software Engineer" selected) Junior Software Engineer
                     option(value="Software Engineer") Software Engineer
                     option(value="Senior Software Engineer") Senior Software Engineer
                     option(value="Lead Software Engineer") Lead Software Engineer
                p
                    button.btn.btn-lg.btn-primary.btn-block(type="submit") Add new staff
