extends layout
block content
   .col-md-8
    .card.mb-3
        .card-body
            .row
                .col-sm-3
                    h6.mb-0 Full Name
                .col-sm-9.text-secondary= first_name + " " + last_name
            hr
            .row
                .col-sm-3
                    h6.mb-0 Birth Date
                .col-sm-9.text-secondary= birth_date
            hr
            .row
                .col-sm-3
                    h6.mb-0 Position
                .col-sm-9.text-secondary= position
            hr
            .row
                .col-sm-3
                    h6.mb-0 Salary
                .col-sm-9.text-secondary= salary
            hr
            .row
            form(action="", method="POST")
                button.btn.btn-danger(type="submit") Delete
